@model NewspaperDoAnV2.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/AdminArea/Views/Shared/_adminlayout.cshtml";
}

<style>
    .boxes {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        padding: 20px;
    }
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="boxes">

    <div class="container">
        <div class="form-group">
            <h6> Tên Người Dùng </h6>
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })

            <h6 class="mt-4"> Mật Khẩu </h6>
            @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })

            <h6 class="mt-4"> Nhập Lại Mật Khẩu </h6>
            @Html.EditorFor(model => model.Repassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Repassword, "", new { @class = "text-danger" })

            <div class="col-md-offset-2 mt-3">
                <input type="submit" value="Lưu Thông Tin" class="btn btn-primary" />
            </div>

            <div class="mt-3">
                @Html.ActionLink("Trở Về Khu Vực Quản Lý Tài Khoản", "Index", "Users", new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
</div>
}

