@model NewspaperDoAnV2.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminArea/Views/Shared/_adminlayout.cshtml";
}

<table class="table table-dark">
    <tr>
        <th>
            Tên Người Dùng
        </th>
        <th>
            Mật Khẩu
        </th>

        <th>
            Email
        </th>
        <th>
            Quyền Hạn
        </th>
        <th>
            Tùy Chọn
        </th>
    </tr>

    

    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.UserPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.UserEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Phan_Quyen.Role_name)
        </td>
        <td>
            @Html.ActionLink("Chỉnh Sửa Mật Khẩu" , "Edit" , "Users" , new {id = Model.UserID , Area = "AdminArea"} , new {@class = "btn btn-danger"})
        </td>
    </tr>
        


</table>

<script>
</script>
