@model NewspaperDoAnV2.Models.User

@{
    ViewBag.Title = "Edit";
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" /> 
    Layout = null;
}

<style>
    .editcontainer
    {
        display : flex;
        align-items : center;
        justify-content : center;
        height : 100vh;
    }
    .boxes {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        padding: 20px;
        display : flex;
    }
    img
    {
        width : 450px;
        height : 100%;
    }


    .form-group {
        width: 500px;
    }

    
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="editcontainer">
    <div class="boxes">
        <div class="container">
            <div class="form-group">
                <h3>
                    Chỉnh Sửa Mật Khẩu
                </h3>
                <h6 class="mt-4"> Tên Người Dùng </h6>
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })

                <h6 class="mt-4"> Mật Khẩu </h6>
                @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })

                <h6 class="mt-4"> Nhập Lại Mật Khẩu </h6>
                @Html.EditorFor(model => model.Repassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Repassword, "", new { @class = "text-danger" })

                <div class="col-md-offset-2 mt-3">
                    <input type="submit" value="Lưu Thông Tin" class="btn btn-primary" />
              
                </div>

                <div class="mt-3">
                </div>
            </div>
        </div>

        <div>
            <img src="https://png.pngtree.com/png-vector/20220526/ourlarge/pngtree-online-registration-or-sign-up-login-for-account-on-smartphone-app-png-image_4740849.png" />
        </div>
    </div>
</div>
}

