
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/131e0ec2d1.js" crossorigin="anonymous"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <style>
        header
        {
            height : 200px;
        }       
    </style>
    <div class="home-layout">
        <div class="container">
            <header class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center header-left">
                    <div class="header-left-logo">
                        
                    </div>
                    <div class="header-left-datetime">@DateTime.Now</div>
                </div>

                <div class="d-flex align-items-center header-right">
                    <div>
                        <a class="p-2 text-decoration-none text-dark" href="~/UserArea/HomePage/Search"> <i class="fa-solid fa-magnifying-glass"> </i> Tìm Kiếm </a>
                        <a class="p-2 text-decoration-none text-dark" href="#"><i class="fa-solid fa-user"></i> Đăng Nhập</a>
                    </div>
                </div>
            </header>


            <nav class="d-flex justify-content-between w-100">
                <div style="margin : 0 10px;">
                    <a href="~/UserArea/HomePage/HomePage" class="text-decoration-none text-dark">
                        <i class="fa-solid fa-house fs-5"></i>
                    </a>
                </div>

                <div>
                    @Html.ActionLink("Bất Động Sản", "BatDongSan", "HomePage", new { area = "UserArea" }, new { @class = "btn btn-default BatDongSanBtn" })
                    @Html.ActionLink("Chính Trị", "ChinhTri", "HomePage", new { area = "UserArea" }, new { @class = "btn btn-default ChinhTriBtn" })
                    @Html.ActionLink("Công Nghệ", "CongNghe", "HomePage", new { area = "UserArea" }, new { @class = "btn btn-default CongNgheBtn" })
                    @Html.ActionLink("Thể Thao", "TheThao", "HomePage", new { area = "UserArea" }, new { @class = "btn btn-default TheThaoBtn" })
                </div>
            </nav>
        </div>

        <hr />

        <div class="container">
            @RenderBody()
        </div>

        <hr />

        <footer>
            <div class="container text-center">
                <p>&copy; 2024 Newspaper. All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>
</html>

