@model IEnumerable<NewspaperDoAnV2.Models.Newspaper>

@{
    ViewBag.Title = "BaiBao";
    Layout = "~/Areas/UserArea/Views/Shared/_UserMasterLayout.cshtml";
}
<style>
    
</style>
@foreach (var items in Model)
{
    
        <div class="row row-cols-2 boxes">
            <div class="col col-1">
                <div>
                    <div class="text-size-controls mb-3 d-flex flex-column">
                        <button id="increase-font" class="btn btn-secondary mt-2 mb-2">A+</button>
                        <button id="decrease-font" class="btn btn-secondary mt-2 mb-2">A-</button>
                    </div>
                </div>
            </div>

            <div class="col col-10 title">
                <h3 class="text-center">
                    @Html.DisplayFor(model => items.Newspaper_tieude)
                </h3>

                <div class="d-flex justify-content-center align-items-center">
                    <h4 class="">
                        @Html.DisplayFor(model => items.Newspaper_tieudephu)
                    </h4>
                </div>

                <img src="@Html.DisplayFor(model => items.Newspaper_anh)" class="w-100 mb-4" />

                <p>
                    @Html.DisplayFor(model => items.Newspaper_noidung)
                </p>

                <div class="author d-flex justify-content-end">

                    <p class="text-light bg-primary p-2">
                        Tác Giả : @Html.DisplayFor(model => items.User.UserName)
                    </p>
                </div>
            </div>
        </div>
    
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const increaseBtn = document.getElementById('increase-font');
        const decreaseBtn = document.getElementById('decrease-font');
        const title = document.querySelector('.title');
        let currentFontSize = 16; // cỡ mặc định

        increaseBtn.addEventListener('click', function () {
            currentFontSize += 2; // tăng
            title.style.fontSize = currentFontSize + 'px';
        });

        decreaseBtn.addEventListener('click', function () {
            currentFontSize -= 2; //giảm
            title.style.fontSize = currentFontSize + 'px';
        });
    });
</script>