@model IEnumerable<NewspaperDoAnV2.Models.Newspaper>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/UserArea/Views/Shared/_UserMasterLayout.cshtml";
}
<style>
    .boxes {
        box-shadow: rgba(9, 30, 66, 0.25) 0px    4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        padding: 40px;
    }

    .TheThaoBtn {
        background: #0B5ED7;
        color: white;
    }

    .TheThaoBtn:hover {
        color: white;
    }


</style>

<div class="d-flex justify-content-center gap-2">
    @Html.ActionLink("Sắp Xếp Theo Tên Tăng Dần", "TheThao", "HomePage", new { OrderBy = "name_asc" }, new { @class = "btn btn-outline-success" })
    @Html.ActionLink("Sắp Xếp Theo Tên Giảm Dần", "TheThao", "HomePage", new { OrderBy = "name_desc" }, new { @class = "btn btn-outline-success" })
</div>

@foreach (var items in Model)
{
    if (items.Danh_muc.danhmuc_noidung == "Thể Thao")
    {
        <div class="mt-3 mb-5 boxes">
            <div class="row row-cols-2">
                <div class="col col-6">
                    <img src="@Html.DisplayFor(model => items.Newspaper_anh)" class="w-100" />
                </div>

                <div class="left col col-6 position-relative">

                    <h2>
                        @Html.DisplayFor(model => items.Newspaper_tieude)
                    </h2>

                    <p class="mt-3">
                        @Html.DisplayFor(model => items.Newspaper_tieudephu)
                    </p>


                    <p style="line-height: 36px; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 5">
                        @Html.DisplayFor(model => items.Newspaper_noidung)
                    </p>

                    <div class="position-absolute bottom-0 ">
                        @Html.ActionLink("Đọc Thêm", "BaiBao", "HomePage", new { NewspaperId = items.NewspaperId }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    }
}




